/* Global Rules Start */

:root {
	--main-color: #2196f3;
	--main-alt-color: #1787e0;
	--main-padding: 100px;
	--main-box-shadow: 0 0 10px #ddd;
	--main-transition: 0.3s;
	--special-heading-transition: 0.5s;
	--section-background-color: #ececec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Cairo", sans-serif;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium Screen */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large Screen */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}



